{% extends 'ustoz_templates/elements/base.html' %}
{% load static %}

{% block custom_css %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

  <style>
    #profile-pic:hover{
      transform: scale(1.2);
    }

   
  </style>
  <link rel="stylesheet" href="{% static 'css/delete-alert.css' %}">
{% endblock custom_css %}

{% block page_heading %}
  Mudarrislar
{% endblock page_heading %}

{% block main_content %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Barcha mudarrislar tablitsasi</h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>Profil surati</th>
                      <th>Ism</th>
                      <th>Jins</th>
                      <th>Xujra</th>
                      <th>Amalyot</th>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                    <th>Profil surati</th>
                    <th>Ism</th>
                    <th>Jins</th>
                    <th>Xujra</th>
                    <th>Amalyot</th>
                  </tr>
              </tfoot>
              <tbody>
                {% for mudarris in mudarrislar %}
                  <tr>
                      <td>
                        <a href="{% url 'ustoz_mudarris_profil' mudarris.admin.id %}">
                          {% if mudarris.profil_surati %}
                              <img src="{{ mudarris.profil_surati }}" alt="Admin" class="avatar-md rounded-circle img-thumbnail" width="50" id='profile-pic'>
                            </a>
                          {% else %}
                              {% if mudarris.jins == 'Erkak' %}
                                <img src="{% static 'img/undraw_profile.svg' %}" alt="Admin" class="avatar-md rounded-circle img-thumbnail" width="50" id='profile-pic'>
                              {% elif mudarris.jins == 'Ayol' %}
                                <img src="{% static 'img/undraw_profile_1.svg' %}" alt="Admin" class="avatar-md rounded-circle img-thumbnail" width="50" id='profile-pic'>
                              {% endif %}
                            
                          {% endif %}
                        </a>
                      </td>
                      <td> {{ mudarris.admin.first_name }} {{ mudarris.admin.last_name }} </td>
                      <td> {{ mudarris.jins }} </td> 
                      <td> 
                        {% if mudarris.hujra %}
                          <a href="{% url 'ustoz_hujra_profil' mudarris.hujra.id %}">
                            {{ mudarris.hujra.ism }}
                          </a>
                        {% else %}
                          Xujra kiritilmagan
                        {% endif %}
                     </td>
                      <td>
                        <a href="{% url 'ustoz_mudarris_profil' mudarris.admin.id %}" class="btn btn-info btn-circle">
                          <i class="fa-solid fa-address-card"></i>
                      </a>
                        
                      </td>
                  </tr>

                  

                {% empty %}
                <tr>
                  <td><h3>Mudarrislar yo'q. <i class="fa-solid fa-face-frown"></i> Mudarris kiriting. </h3></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>


{% endblock main_content %}


{% block custom_script %}

  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock custom_script %}

