{% load static %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_asosiy' %}">
      <div class="sidebar-brand-icon">
        <i class="fa-sharp fa-solid fa-school-flag"></i>
      </div>
      <div class="sidebar-brand-text mx-3">TBS <sup>tm</sup></div>
  </a>

  <hr class="sidebar-divider my-0">

  {% url 'ustoz_asosiy' as ustoz_asosiy %}
  <li class="nav-item {% if request.path == ustoz_asosiy %} active {% endif %}">
      <a class="nav-link" href="{% url 'ustoz_asosiy' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Boshqaruv</span></a>
  </li>

  <hr class="sidebar-divider my-0">

  {% url 'ustoz_hujralar' as ustoz_hujralar %}
  <li class="nav-item {% if request.path == ustoz_hujralar %} active {% endif %}">
      <a class="nav-link" href="{% url 'ustoz_hujralar' %}">
          <i class="fa-solid fa-school-flag"></i>
          <span>Hujralar</span></a>
  </li>

  {% url 'ustoz_mudarrislar' as ustoz_mudarrislar %}
  <li class="nav-item {% if request.path == ustoz_mudarrislar %} active {% endif %}">
      <a class="nav-link" href="{% url 'ustoz_mudarrislar' %}">
        <i class="fa-solid fa-user"></i>
          <span>Mudarrislar</span></a>
  </li>

  {% url 'ustoz_talabalar' as ustoz_talabalar %}
  <li class="nav-item {% if request.path == ustoz_talabalar %} active {% endif %}">
      <a class="nav-link" href="{% url 'ustoz_talabalar' %}">
        <i class="fa-solid fa-graduation-cap"></i>
          <span>Talabalar</span></a>
  </li>

  
  <hr class="sidebar-divider d-none d-md-block">
  
  {% url 'ustoz_fanlar_talaba' as ustoz_fanlar_talaba %}
  {% url 'ustoz_fanlar_mudarris' as ustoz_fanlar_mudarris %}
  <li class="nav-item {% if request.path == ustoz_fanlar_talaba or request.path == ustoz_fanlar_mudarris %} active {% endif %}">
    <a class="nav-link {% if request.path != ustoz_fanlar_talaba and request.path != ustoz_fanlar_mudarris %} collapsed {% endif %}" href="#" data-toggle="collapse" data-target="#collapseFanlar"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fa-solid fa-book"></i>
        <span>Fanlar</span>
    </a>
    <div id="collapseFanlar" class="collapse {% if request.path == ustoz_fanlar_talaba or request.path == ustoz_fanlar_mudarris %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item {% if request.path == ustoz_fanlar_talaba %} active {% endif %}" href="{% url 'ustoz_fanlar_talaba' %}">Talaba</a>
          <a class="collapse-item {% if request.path == ustoz_fanlar_mudarris %} active {% endif %}" href="{% url 'ustoz_fanlar_mudarris' %}">Mudarris</a>
        </div>
    </div>
  </li>

  {% url 'ustoz_baho_talaba' as ustoz_baho_talaba %}
  {% url 'ustoz_baho_mudarris' as ustoz_baho_mudarris %}
  <li class="nav-item {% if request.path == ustoz_baho_talaba or request.path == ustoz_baho_mudarris %} active {% endif %}">
    <a class="nav-link {% if request.path != ustoz_baho_talaba and request.path != ustoz_baho_mudarris %} collapsed {% endif %}" href="#" data-toggle="collapse" data-target="#collapseBaholar"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fa-solid fa-pen-to-square"></i>
        <span>Baho</span>
    </a>
    <div id="collapseBaholar" class="collapse {% if request.path == ustoz_baho_talaba or request.path == ustoz_baho_mudarris %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item {% if request.path == ustoz_baho_talaba %} active {% endif %}" href="{% url 'ustoz_baho_talaba' %}">Talaba</a>
          <a class="collapse-item {% if request.path == ustoz_baho_mudarris %} active {% endif %}" href="{% url 'ustoz_baho_mudarris' %}">Mudarris</a>
        </div>
    </div>
  </li>

  <hr class="sidebar-divider d-none d-md-block">

  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>