{% load static %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin_asosiy' %}">
      <div class="sidebar-brand-icon">
        <i class="fa-sharp fa-solid fa-school-flag"></i>
      </div>
      <div class="sidebar-brand-text mx-3">TBS <sup>tm</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  {% url 'admin_asosiy' as admin_asosiy %}
  <li class="nav-item {% if request.path == admin_asosiy %} active {% endif %}">
      <a class="nav-link" href="{% url 'admin_asosiy' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Boshqaruv</span></a>
  </li>
  
  {% url 'ustozlar' as ustozlar %}
  <li class="nav-item {% if request.path == ustozlar %} active {% endif %}">
    <a class="nav-link" href="{% url 'ustozlar' %}">
        <i class="fa-solid fa-chalkboard-user"></i>
        <span>Ustozlar</span></a>
  </li>
  {% url 'hujralar' as hujralar %}
  <li class="nav-item {% if request.path == hujralar %} active {% endif %}">
    <a class="nav-link" href="{% url 'hujralar' %}">
        <i class="fa-solid fa-school-flag"></i>
        <span>Xujralar</span></a>
  </li>

  {% url 'mudarrislar' as mudarrislar %}
  <li class="nav-item {% if request.path == mudarrislar %} active {% endif %}">
    <a class="nav-link" href="{% url 'mudarrislar' %}">
        <i class="fa-solid fa-user"></i>
        <span>Mudarrislar</span></a>
  </li>

  {% url 'talabalar' as talabalar %}
  <li class="nav-item {% if request.path == talabalar %} active {% endif %}">
    <a class="nav-link" href="{% url 'talabalar' %}">
        <i class="fa-solid fa-graduation-cap"></i>
        <span>Talabalar</span></a>
  </li>

  
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFanlar"
          aria-expanded="true" aria-controls="collapseTwo">
          <i class="fa-solid fa-book"></i>
          <span>Fanlar</span>
      </a>
      <div id="collapseFanlar" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="">Ustoz talaba</a>
            <a class="collapse-item" href="">Ustoz mudarris</a>
            <a class="collapse-item" href="">Mudarris talaba</a>
          </div>
      </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKbaho"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fa-solid fa-pen-to-square"></i>
          <span>Kundalik baholar</span>
      </a>
      <div id="collapseKbaho" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="">Ustoz talaba</a>
              <a class="collapse-item" href="">Ustoz mudarris</a>
              <a class="collapse-item" href="">Mudarris talaba</a>
          </div>
      </div>
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIbaho"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fa-solid fa-book-open"></i>
          <span>Imtihon baholar</span>
      </a>
      <div id="collapseIbaho" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="">Ustoz talaba</a>
            <a class="collapse-item" href="">Ustoz mudarris</a>
            <a class="collapse-item" href="">Mudarris talaba</a>
          </div>
      </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  

  <!-- Nav Item - Charts -->
  <li class="nav-item">
      <a class="nav-link" href="">
        <i class="fa-solid fa-gear"></i>
          <span>Parametrlar</span></a>
  </li>

  

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->