{% extends 'admin_templates/elements/base.html' %}
{% load static %}

{% block page_heading %}
  Admin profili
{% endblock page_heading %}


{% block main_content %}
 
  <div class="row">
    
      
      <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
              <form role="form" method="POST" action="{% url 'admin_profil_tahrirlash' %}" enctype="multipart/form-data" onsubmit="return submitForm(this);">
                {% csrf_token %}
                <div class="d-flex flex-column align-items-center text-center">
                  <div class="upload">
                    {% if admin.profile_pic %}
                      <img src="{{ admin.profile_pic }}" alt="Admin" class="rounded-circle img-thumbnail img" width="150" id='img'>
                    {% else %}
                      <img src="{% static "img/undraw_profile.svg" %}" alt="Admin" class="rounded-circle img-thumbnail img" width="150" id='img'>
                    {% endif %}
                    <button class="round" id="customBtn" onclick="defaultBtnActive()" type="button">
                      <i class="fa-solid fa-camera" style="color: #fff;"></i>
                      <input type="file" name="profile_pic" accept="image/*" id="defaultBtn">
                    </button>
                  </div>
                  <br>
                  
                  {% if admin.profile_pic %}
                    <br>
                    <a href="{% url 'admin_profil_suratni_uchirish' %}" class="btn btn-danger btn-icon-split btn-sm">
                      <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                      </span>
                      <span class="text">
                        Suratni o'chirish
                      </span>
                    </a>
                  {% endif %}
                  <br>
                  <hr>
                </div>
                {% for field in form %}
                  <div class="row">
                    {{ field.errors }}
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{ field.label_tag }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ field }}
                    </div>
                  </div>
                  <hr>
                {% endfor %}
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-success btn-icon-split" type="submit" id='save'>
                      <span class="icon text-white-50">
                        <i class="fa-sharp fa-solid fa-check"></i>
                      </span>
                      <span class='text'>Saqlash</span>
                    </button>
                    <a class="btn btn-light btn-icon-split" href="{% url 'admin_profil' %}">
                      <span class="icon text-white-50">
                        <i class="fa-solid fa-arrow-left"></i>
                      </span>
                      <span class='text'>Ortga</span>
                    </a>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>

  
            
  </div>
 
{% endblock main_content %}

{% block custom_script %}
  <script src="{% static 'js/admin-pic-change.js' %}"></script>
{% endblock custom_script %}

{% block custom_css %}
  <link href="{% static 'css/admin-profile-tahrirlash.css' %}" rel="stylesheet">
{% endblock custom_css %}

{% block sweet_alerts %}
  <!-- Sweet alerts -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'sweet_alert/saveForm.js' %}"></script>
{% endblock sweet_alerts %}
