{% extends 'admin_templates/elements/base.html' %}

{% load static %}

{% block custom_css %}

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


{% endblock custom_css %}

{% block page_heading %}
  Fan (Ustoz - Mudarris) kiritish
{% endblock page_heading %}

{% block main_content %}

<form role="form" method="POST" action="{% url 'fan_ustoz_mudarris_kiritish' %}" enctype="multipart/form-data" onsubmit="return submitForm(this);">
  {% csrf_token %}
<div class="row">
  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Fan kiritish</h6>
      </div>
      <div class="card-body">

            
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0"><label for="ism">Ism</label></h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" class="form-control" id="ism" name='ism'>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0"><label for='ustoz'>Ustoz</label></h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <select name="ustoz" id="ustoz" class='form-control'>
                {% for ustoz in ustozlar %}
                  <option value="{{ustoz.admin.id}}">{{ ustoz.admin.first_name }} {{ ustoz.admin.last_name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0"><label for='ustoz'>Mudarrislar</label></h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <select name="mudarrislar" id="mudarrislar" class='form-control' multiple>
                {% for mudarris in mudarrislar %}
                  <option value="{{mudarris.id}}">{{ mudarris.admin.first_name }} {{ mudarris.last_name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0"><label for="ism">Tugash vaqti</label></h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="date" class="form-control" id="tugash_vaqti" name='tugash_vaqti'>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-12">
      <button class="btn btn-success btn-icon-split" type="submit" id='save'>
        <span class="icon text-white-50">
          <i class="fa-sharp fa-solid fa-check"></i>
        </span>
        <span class='text'>Kiritish</span>
      </button>
      <a class="btn btn-light btn-icon-split" href="{% url 'fanlar_ustoz_talaba' %}">
        <span class="icon text-white-50">
          <i class="fa-solid fa-arrow-left"></i>
        </span>
        <span class='text'>Ortga</span>
      </a>
    </div>
  </div>

</form>

{% endblock main_content %}


{% block custom_script %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>

    $(document).ready(function() {
      $('#mudarrislar').select2();
  });

  </script>
{% endblock custom_script %}


{% block sweet_alerts %}
  <!-- Sweet alerts -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'sweet_alert/addForm.js' %}"></script>
{% endblock sweet_alerts %}


