{% extends 'admin_templates/elements/base.html' %}
{% load static %}
{% block page_heading %}
  "{{hujra.ism}}" ga mudarris kiritish
{% endblock page_heading %}

{% block main_content %}

<form role="form" method="POST" action="{% url 'hujra_profil_mudarrislar_kiritish' hujra.id %}" enctype="multipart/form-data" onsubmit="return submitForm(this);">
  {% csrf_token %}
<div class="row">
  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Mudarris kiritish</h6>
      </div>
      <div class="card-body">

        <div class="row mb-3">
          <div class="col-sm-3">
            <h6 class="mb-0"><label for='ustoz'>Mudarrislar</label></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <select name="mudarrislar" id="talabalar" class='form-control' multiple required>
              {% for mudarris in mudarrislar %}
                <option value="{{mudarris.id}}">{{ mudarris.admin.first_name }} {{ mudarris.admin.last_name }}</option>
              {% endfor %}
            </select> 
          </div>
        </div>
        <hr>
          
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mb-5">
      <div class="col-sm-12">
        <button class="btn btn-success btn-icon-split" type="submit" id='save'>
          <span class="icon text-white-50">
            <i class="fa-sharp fa-solid fa-check"></i>
          </span>
          <span class='text'>Kiritish</span>
        </button>
        <a class="btn btn-light btn-icon-split" href="{% url 'hujra_profil_mudarrislar' hujra.id %}">
          <span class="icon text-white-50">
            <i class="fa-solid fa-arrow-left"></i>
          </span>
          <span class='text'>Ortga</span>
        </a>
      </div>
    </div>
</form>

{% endblock main_content %}


{% block custom_script %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>

    $(document).ready(function() {
      $('#talabalar').select2();
  });

  </script>
  
{% endblock custom_script %}


{% block custom_css %}

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


{% endblock custom_css %}

{% block sweet_alerts %}
  <!-- Sweet alerts -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'sweet_alert/addForm.js' %}"></script>
{% endblock sweet_alerts %}
