{% extends 'admin_templates/elements/base.html' %}
{% load static %}

{% block page_heading %}
  Talaba {{ talaba.ism }} {{ talaba.familya }} paspurtini tahrirlash
{% endblock page_heading %}

{% block main_content %}
 

<form role="form" method="POST" action="{% url 'talaba_paspurt_tahrirlash' talaba.id %}" enctype="multipart/form-data" onsubmit="return submitForm(this);">
  {% csrf_token %}
  <div class="row">

      <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <div class="container pas-img">
                    <input type="file" id="paspurt_surati" accept="image/*" hidden name='pasport_surati'>
                    {% if talaba.pasport_surati %}
                      <div class="image-container img-area">
                        <div class="pasport_surati"><img src="{{ talaba.pasport_surati }}" alt=""></div>
                      </div>
                    {% else %}
                      <div class="img-area" data-img="">
                        <i class="fa-solid fa-cloud-arrow-up mb-3" style='font-size:80px'></i>
                        <h3>Kurat kiritish</h3>
                        <p class='pl-3 pr-3'>Suratning hajmi maksimum <span>2MB</span> bo'lishi kerak</p>
                      </div>
                    {% endif %}
                    <div class="select-image"><i class="fa-solid fa-pen"></i>   Yangi so'rat kiritish</div>
                    <br>
                    <p class='text-warning'>Suratning hajmi maksimum <span>2MB</span> bo'lishi kerak</p>
                  </div>
                  
                  {% if talaba.pasport_surati %}
                    <a href="#myModal" class="btn btn-danger btn-icon-split btn-sm" data-toggle="modal">
                      <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                      </span>
                      <span class="text">
                        Paspurt suratni o'chirish
                      </span>
                    </a>


                    <div id="myModal" class="modal fade">
                      <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                          <div class="modal-header flex-column">
                            <div class="icon-box">
                              <i class="fa-solid fa-trash"></i>
                            </div>						
                            <h4 class="modal-title w-100">Chindan ham "{{ talaba.ism }} {{ talaba.familya }}" talabaning paspurt suratini o'chirmoqchimisiz?</h4>	
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          </div>
                          <div class="modal-body">
                            <p>Agar chindan ham o'chirmoqchi bo'lsangiz "O'chirish" tugmasini bosing.</p>
                          </div>
                          <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                            <a href="{% url 'talaba_pasport_suratni_uchirish' talaba.id %}">
                              <button type="button" class="btn btn-danger">O'chirish</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  {% endif %}
                </div>
                
                
                
            </div>
        </div>
      </div>
      
      
      
  </div>
  <div class="row mb-5">
    <div class="col-sm-12">
      <button class="btn btn-success btn-icon-split" type="submit" id='save'>
        <span class="icon text-white-50">
          <i class="fa-sharp fa-solid fa-check"></i>
        </span>
        <span class='text'>Kiritish</span>
      </button>
      <a class="btn btn-light btn-icon-split" href="{% url 'talaba_profil' talaba.id %}">
        <span class="icon text-white-50">
          <i class="fa-solid fa-arrow-left"></i>
        </span>
        <span class='text'>Ortga</span>
      </a>
    </div>
  </div>

</form>
    
{% comment %} Paspurt show {% endcomment %}
{% if mudarris.pasport_surati %}
<div class='popup-image'>
  <span>&times;</span>
  <img src="{{ mudarris.pasport_surati }}">
</div>
{% endif %}

{% endblock main_content %}

{% block custom_script %}
  <script src="{% static 'js/upload-pasport-img.js' %}"></script>
  <script src="{% static 'js/paspurt-surati-show.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock custom_script %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'css/delete-alert.css' %}">
  <link rel="stylesheet" href="{% static 'css/upload-pasport-img.css' %}">
  <link rel="stylesheet" href="{% static 'css/paspurt-surati-show.css' %}">
{% endblock custom_css %}

{% block sweet_alerts %}
  <!-- Sweet alerts -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'sweet_alert/saveForm.js' %}"></script>
{% endblock sweet_alerts %}
