{% extends 'admin_templates/elements/base.html' %}
{% load static %}

{% block custom_css %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

  <style>
    #profile-pic:hover{
      transform: scale(1.2);
    }

   
  </style>
  <link rel="stylesheet" href="{% static 'css/delete-alert.css' %}">
{% endblock custom_css %}

{% block page_heading %}
  Ustoz "{{ ustoz.admin.first_name }} {{ ustoz.admin.last_name }}" mudarrislari
{% endblock page_heading %}

{% block main_content %}


<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Barcha mudarrislar tablitsasi</h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>Profil surati</th>
                      <th>Ism</th>
                      <th>Email</th>
                      <th>Jins</th>
                      <th>Parolga ishora</th>
                      <th>Xujra</th>
                      <th>Amalyot</th>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                    <th>Profil surati</th>
                    <th>Ism</th>
                    <th>Email</th>
                    <th>Jins</th>
                    <th>Parolga ishora</th>
                    <th>Xujra</th>
                    <th>Amalyot</th>
                  </tr>
              </tfoot>
              <tbody>
                {% for mudarris in mudarrislar %}
                  <tr>
                      <td>
                        <a href="{% url 'mudarris_profil' mudarris.admin.id %}">
                          {% if mudarris.profil_surati %}
                              <img src="{{ mudarris.profil_surati }}" alt="Admin" class="avatar-md rounded-circle img-thumbnail" width="50" id='profile-pic'>
                            </a>
                          {% else %}
                              {% if mudarris.jins == 'Erkak' %}
                                <img src="{% static 'img/undraw_profile.svg' %}" alt="Admin" class="avatar-md rounded-circle img-thumbnail" width="50" id='profile-pic'>
                              {% elif mudarris.jins == 'Ayol' %}
                                <img src="{% static 'img/undraw_profile_1.svg' %}" alt="Admin" class="avatar-md rounded-circle img-thumbnail" width="50" id='profile-pic'>
                              {% endif %}
                            
                          {% endif %}
                        </a>
                      </td>
                      <td> {{ mudarris.admin.first_name }} {{ mudarris.admin.last_name }} </td>
                      <td> {{ mudarris.admin.email }} </td>
                      <td> {{ mudarris.jins }} </td> 
                      <td> {{ mudarris.parolga_ishora }} </td>
                      <td> 
                        <a href='{% url 'hujra_profil' mudarris.hujra.id %}'>
                          {{ mudarris.hujra.ism }}
                        </a>
                     </td>
                      <td>
                        <a href="{% url 'mudarris_profil' mudarris.admin.id %}" class="btn btn-info btn-circle">
                          <i class="fa-solid fa-address-card"></i>
                      </a>
                        <a href="#myModal" class="btn btn-danger btn-circle delete" data-toggle="modal">
                          <i class="fa-sharp fa-solid fa-trash-can"></i>
                        </a>
                      </td>
                  </tr>

                  <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                      <div class="modal-content">
                        <div class="modal-header flex-column">
                          <div class="icon-box">
                            <i class="fa-solid fa-trash"></i>
                          </div>						
                          <h4 class="modal-title w-100">"{{ustoz.admin.first_name}} {{ustoz.admin.last_name}}" ustozdan mudarrisni o'chirish uchun ushbu mudarrisni <a href='{% url 'mudarrislar' %}'>mudarrirlar</a> qatorida izlang va o'sha yerdan o'chirib tashlang. Izlash yerida ustozning ismini yozsangiz ham mudarris chiqib kelaveradi ;)</h4>	
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                          <p>Faqat shu yo'l bilan ustozga tegishli mudarrisni o'chirish mumkin.</p>
                        </div>
                        <div class="modal-footer justify-content-center">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tushundim</button>
                        </div>
                      </div>
                    </div>
                  </div>

                {% empty %}
                <tr>
                  <td><h3>Mudarrislar yo'q. <i class="fa-solid fa-face-frown"></i> Ustozga tegishli hujralarga mudarris kiriting. </h3></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>


{% endblock main_content %}


{% block custom_script %}

  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock custom_script %}

