{% extends 'admin_templates/elements/base.html' %}
{% load static %}
{% block page_heading %}
  Ustoz kiritish
{% endblock page_heading %}

{% block main_content %}

<form role="form" method="POST" action="{% url 'ustoz_kiritish' %}" enctype="multipart/form-data" onsubmit="return submitForm(this);">
  {% csrf_token %}
<div class="row">
  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Ustoz kiritish</h6>
      </div>
      <div class="card-body">

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><label for="email">Elektron pochta</label></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="email" class="form-control email" id="email" name='email' required>
                <div class="in_feedback_email" style="display: none;">
                </div>
                <p class='text-sm text-success emailSuccessOutPut'></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><label for="username">Foydalanuvchi nomi</label></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="username" name='username' required>
                <div class="in_feedback_username" style="display: none;">
                </div>
                <p class='text-sm text-success usernameSuccessOutPut'></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><label for="password">Parol</label></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="password" class="form-control" id="password" name='parol' required>
                <i class="fa-sharp fa-solid fa-eye" id="showPassword"></i>
                <i class="fa-solid fa-eye-slash" id="hidePassword" style="display:none"></i>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><label for="password_hint">Parolga ishora</label></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="password_hint" name='parolga_ishora'>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><label for="ism">Ism</label></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="ism" name='ism'>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><label for="familya">Familya</label></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="familya" name='familya'>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><label for="adres">Adres</label></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <textarea rows="4" cols="50" name='adres' id='adres' class='form-control'></textarea>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><label for="email">Jins</label></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <select name="jins" id="jins-select" class="form-control">
                  <option value="Erkak">Erkak</option>
                  <option value="Ayol">Ayol</option>
                </select>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><label for="profil-surati">Profil Surati</label></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="file" class="form-control" id="profil-surati" name='profil_surati'>
              </div>
            </div>
            <hr>
          
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mb-5">
      <div class="col-sm-12">
        <button class="btn btn-success btn-icon-split" type="submit" id='save'>
          <span class="icon text-white-50">
            <i class="fa-sharp fa-solid fa-check"></i>
          </span>
          <span class='text'>Kiritish</span>
        </button>
        <a class="btn btn-light btn-icon-split" href="{% url 'ustozlar' %}">
          <span class="icon text-white-50">
            <i class="fa-solid fa-arrow-left"></i>
          </span>
          <span class='text'>Ortga</span>
        </a>
      </div>
    </div>

  </form>
{% endblock main_content %}


{% block custom_script %}
  <script src="{% static 'js/check-email-and-username.js' %}"></script>
  <script>

    const usernameField = document.getElementById('username');
    const usernameFeedBack = document.querySelector('.in_feedback_username')
    const emailField = document.getElementById('email');
    const emailFeedBack = document.querySelector('.in_feedback_email')
    const usernameSuccessOutPut = document.querySelector('.usernameSuccessOutPut')
    const emailSuccessOutPut = document.querySelector('.emailSuccessOutPut')
    const showPassword = document.querySelector("#showPassword");
    const hidePassword = document.querySelector("#hidePassword");
    const password = document.querySelector("#password");
    const usernameEskiValue = document.getElementById('username').value;
    const emailEskiValue = document.querySelector('#email').value;
    usernameField.addEventListener('keyup', (e) => {
      const usernameVal = e.target.value;
      usernameField.classList.remove("is-invalid");
      usernameField.classList.remove("is-valid");
      usernameFeedBack.classList.remove("invalid-feedback");
      usernameFeedBack.style.display = "none";
      if (usernameVal !== usernameEskiValue) {
        usernameSuccessOutPut.textContent = `${usernameVal} tekshirilmoqda...`;
        if(usernameVal.length > 0) {
          fetch("{% url 'foydalanuvchi_nomini_tekshirish' %}", {
            body : JSON.stringify({username: usernameVal}),
            method: "POST", 
          })
          .then((res) => res.json())
          .then((data)=> {
            usernameSuccessOutPut.style.display = "none";
            if(data.username_error){
              usernameField.classList.add("is-invalid");
              usernameFeedBack.classList.add("invalid-feedback");
              usernameFeedBack.style.display = "block";
              usernameFeedBack.innerHTML = `<p>${data.username_error}</p>`;
            };
            if(data.username_valid){
              usernameField.classList.add("is-valid");
              usernameFeedBack.classList.add("valid-feedback");
              usernameFeedBack.style.display = "block";
              usernameFeedBack.innerHTML = `<p>To'g'ri tanlov</p>`;
            }
          });
        }
        
      }
        
    });

    emailField.addEventListener('keyup', (e) => {
      const emailVal = e.target.value;
      emailField.classList.remove("is-invalid");
      emailField.classList.remove("is-valid");
      emailFeedBack.classList.remove("invalid-feedback");
      emailFeedBack.style.display = "none";
      if(emailVal !== emailEskiValue){
        emailSuccessOutPut.textContent = `${emailVal} tekshirilmoqda...`;
        if(emailVal.length > 0) {
          fetch("{% url 'emailni_tekshirish' %}", {
            body : JSON.stringify({email: emailVal}),
            method: "POST", 
          })
          .then((res) => res.json())
          .then((data)=> {
            emailSuccessOutPut.style.display = 'none';
            if(data.email_error){
              emailField.classList.add("is-invalid");
              emailFeedBack.classList.add("invalid-feedback");
              emailFeedBack.style.display = "block";
              emailFeedBack.innerHTML = `<p>${data.email_error}</p>`;
            };
            if(data.email_valid){
              emailField.classList.add("is-valid");
              emailFeedBack.classList.add("valid-feedback");
              emailFeedBack.style.display = "block";
              emailFeedBack.innerHTML = `<p>To'g'ri tanlov</p>`;
            }
          });
        }
      
      }
      
    });


    showPassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        
        // toggle the icon
        showPassword.style.display = 'none';
        hidePassword.style.display = 'block';
    });

    hidePassword.addEventListener("click", function () {
      // toggle the type attribute
      const type = password.getAttribute("type") === "text" ? "password" : "text";
      password.setAttribute("type", type);
      
      // toggle the icon
      showPassword.style.display = 'block';
      hidePassword.style.display = 'none';
    });

    // prevent form submit
    const form = document.querySelector("form");
    form.addEventListener('submit', function (e) {
        e.preventDefault();
    });

  </script>
{% endblock custom_script %}

{% block sweet_alerts %}
  <!-- Sweet alerts -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'sweet_alert/addForm.js' %}"></script>
{% endblock sweet_alerts %}

{% block custom_css %}
  <style>
    form #showPassword {
      cursor: pointer;
      transition: all;
      float: right;
      right: 10px;
      margin-left: -25px;
      margin-top: -25px;
      position: relative;
      z-index: 2;
    }

    form #hidePassword {
      cursor: pointer;
      transition: all;
      float: right;
      right: 10px;
      margin-left: -25px;
      margin-top: -25px;
      position: relative;
      z-index: 2;
    }
  </style>
{% endblock custom_css %}

